views/index.html
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../public/bootstrap-4.0.0-beta.1.css" type="text/css">
  <title>Worapong</title>
  <meta name="description" content="All About of Worapong"> </head>

<body class="bg-dark">
  <div class="bg-primary py-5 gradient-overlay" style="background-image: url(&quot;../public/images/bgtitle.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3 text-white">
          <img class="img-fluid d-block mx-auto mb-5 rounded" src="../public/images/profile.jpg" width="128" height=""> </div>
        <div class="col-md-9 align-self-center text-white">
          <h1 class="display-3 mb-4">Hi. I AM WORAPONG</h1>
          <h1 class="">I LOVE CODE</h1>
          <p class="lead">EXPERIENCED 3 YEAR </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-controls="profile" aria-selected="true" data-toggle="tab" id="profile-tab" role="tab" href="#profile">PROFILE</a>
            </li>
            <li class="nav-item">
              <a href="#skills" class="nav-link text-white" aria-controls="skills" aria-selected="false" data-toggle="tab" id="skills-tab" role="tab">SKILLS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#experiented" aria-controls="experiented" aria-selected="false" data-toggle="tab" id="experiented-tab" role="tab">EXPERIENCED</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" aria-controls="portfolio" aria-selected="false" data-toggle="tab" id="portfolio-tab" role="tab" href="#portfolio">PORTFOLIO</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="py-5 tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-white">
            <h1 class="text-center display-3 text-primary">PROFILE</h1>
            <p class="text-white">{&nbsp;</p>
            <div>&nbsp;
              <br>&nbsp; &nbsp; &nbsp; &nbsp;FULL_NAME : WORAPONG KHAMTHONG,
              <br>
              <br>&nbsp; &nbsp; &nbsp; &nbsp; GRADUATE : THONGSAENKHAN WITTAYA SCHOOL,
              <br>
              <br>&nbsp; &nbsp; &nbsp; &nbsp; GPA : 2.03,
              <br>
              <br>&nbsp; &nbsp; &nbsp; &nbsp; BIRTH_DATE : 12/SETEMBER/1988,
              <div>
                <br>&nbsp; &nbsp; &nbsp; &nbsp; JOB : PROGRAMER BACKEND, MOBILE,</div>
              <div>
                <br>&nbsp; &nbsp; &nbsp; &nbsp; EMAIL : COMDEVX@GMAIL.COM,</div>
              <div>
                <br>&nbsp; &nbsp; &nbsp; &nbsp; TEL : 0933086746</div>
              <div>
                <br>}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 tab-pane fade" aria-labelledby="skills-tab" id="skills" role="tabpanel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center display-3 text-primary">SKILLS</h1>
            <p class=""> </p>
            <ul class="text-white">
              <li>PHP LARAVEL, CODEIGNITER, SLIM
                <br>
                <br> </li>
              <li>HTML JQUERY, CSS BOOTSTRAP
                <br>
                <br> </li>
              <li>JS METEOR, EXPRESS, GRAPHQL, REACT-NATIVE, REACT-WEB
                <br>
                <br> </li>
              <li>MYSQL, MSSQL
                <br>
                <br> </li>
              <li>MONGODB
                <br>
                <br> </li>
              <li>COMPUTER TECHNICIAN
                <br>
                <br> </li>
              <li>MANAGED SERVER(UBUNTU CENTOS)
                <br>
                <br> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 tab-pane fade" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center display-3 text-primary">PORTFOLIO</h1>
            <p class=""> </p>
            <div class="row text-white">
              <div class="col-md-3 p-4 text-center">
                <img class="img-fluid d-block mx-auto" src="../public/images/eventsniff.png" height="150" width="150">
                <h4 class="">Event Sniff</h4>
                <p class="">PHP BACKEND API</p>
              </div>
              <div class="col-md-3 p-4 text-center">
                <img class="img-fluid d-block mx-auto" src="../public/images/emerplus.png" height="150" width="150">
                <h4 class="">Emer Plus</h4>
                <p>PHP BACKEND API</p>
              </div>
              <div class="col-md-3 p-4 text-center">
                <img class="img-fluid d-block mx-auto" src="../public/images/bahtsmart.png" height="150" width="150">
                <h4 class="">Baht Smart</h4>
                <p>NODEJS BACKEND</p>
              </div>
              <div class="col-md-3 p-4 text-center">
                <img class="img-fluid d-block mx-auto" src="../public/images/scbqrcode.png" height="150" width="150">
                <h4 class="">Promptpay SCB</h4>
                <p>NODEJS BACKEND</p>
              </div>
              <div class="col-md-3 p-4 text-center">
                <img class="img-fluid d-block mx-auto" src="../public/images/coinsner.png" height="150" width="150">
                <h4 class="">CoinSner</h4>
                <p class="">FULL STACK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5 tab-pane fade" id="experiented" role="tabpanel" aria-labelledby="experiented-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center display-3 text-primary">EXPERIENCED</h1>
            <p class=""> </p>
            <div class="row text-white"> COMPANY_NAME : PLA2FUSION
              <br> WORKED_DATE : 11/JUN/2014 - 30/NOV/2016
              <br> LOCATION : SUTHEP MUANG CHIANGMAI
              <br> POSITION : PHP BACKEND API
              <br> SALARY : 15000 - 18000
              <br>
              <br> COMPANY_NAME : BAHT SMART
              <br> WORKED_DATE : 01/DEC/2016 - 31/MAY/2017
              <br> LOCATION : KANTARY SUTHEP MUANG CHIANGMAI
              <br> POSITION : NODEJS BACKEND
              <br> SALARY : 18000 - 21000
              <br>
              <br> COMPANY_NAME : DIGIO
              <br> WORKED_DATE : 19/JUN/2017 - 30/SEP/2017
              <br> LOCATION : PRARAM 9 KRUNG THEP
              <br> POSITION : NODEJS BACKEND SERVICES
              <br> SALARY : 18000 - 22000 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>

views/index.pug
extends layout

block content
    #myTabContent.tab-content
      #profile.py-5.bg-dark.tab-pane.fade.show.active(aria-labelledby='profile-tab', role='tabpanel')
        .container
          .row
            .col-md-12.text-white
              h1.text-center.display-3.text-primary PROFILE
              p.text-white { 
              div
                br
                |        FULL_NAME : WORAPONG KHAMTHONG,
                br
                br
                |         GRADUATE : THONGSAENKHAN WITTAYA SCHOOL,
                br
                br
                |         GPA : 2.03,
                br
                br
                |         BIRTH_DATE : 12/SETEMBER/1988,
                div
                  br
                  |         JOB : PROGRAMER BACKEND, MOBILE,
                div
                  br
                  |         EMAIL : COMDEVX@GMAIL.COM,
                div
                  br
                  |         TEL : 0933086746
                div
                  br
                  | }
      #skills.py-5.bg-dark.tab-pane.fade(aria-labelledby='skills-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary SKILLS
              p  
              ul.text-white
                li
                  | PHP LARAVEL, CODEIGNITER, SLIM
                  br
                  br
                li
                  | HTML JQUERY, CSS BOOTSTRAP
                  br
                  br
                li
                  | JS METEOR, EXPRESS, GRAPHQL, REACT-NATIVE, REACT-WEB
                  br
                  br
                li
                  | MYSQL, MSSQL
                  br
                  br
                li
                  | MONGODB
                  br
                  br
                li
                  | COMPUTER TECHNICIAN
                  br
                  br
                li
                  | MANAGED SERVER(UBUNTU CENTOS)
                  br
                  br
      #portfolio.py-5.bg-dark.tab-pane.fade(aria-labelledby='portfolio-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary PORTFOLIO
              p  
              .row.text-white
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/eventsniff.png', height='150', width='150')
                  br
                  h4 Event Sniff
                  p PHP BACKEND API
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/emerplus.png', height='150', width='150')
                  br
                  h4 Emer Plus
                  p PHP BACKEND API
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/bahtsmart.png', height='150', width='150')
                  br
                  h4 Baht Smart
                  p NODEJS BACKEND
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/scbqrcode.png', height='150', width='150')
                  br
                  h4 Promptpay SCB
                  p NODEJS BACKEND
                .col-md-3.p-4.text-center
                  img.img-fluid.d-block.mx-auto(src='../images/coinsner.png', height='150', width='150')
                  br
                  h4 CoinSner
                  p FULL STACK
      #experiented.py-5.bg-dark.tab-pane.fade(aria-labelledby='experiented-tab', role='tabpanel')
        .container
          .row
            .col-md-12
              h1.text-center.display-3.text-primary EXPERIENCED
              p  
              .row.text-white
                | COMPANY_NAME : PLA2FUSION
                br
                |               WORKED_DATE : 11/JUN/2014 - 30/NOV/2016
                br
                |               LOCATION : SUTHEP MUANG CHIANGMAI
                br
                |               POSITION : PHP BACKEND  API
                br
                |               SALARY : 15000 - 18000
                br
                br
                |               COMPANY_NAME : BAHT SMART
                br
                |               WORKED_DATE : 01/DEC/2016 - 31/MAY/2017
                br
                |               LOCATION : KANTARY SUTHEP MUANG CHIANGMAI
                br
                |               POSITION : NODEJS BACKEND
                br
                |               SALARY : 18000 - 21000
                br
                br
                |               COMPANY_NAME : DIGIO
                br
                |               WORKED_DATE : 19/JUN/2017 - 30/SEP/2017
                br
                |               LOCATION : PRARAM 9 KRUNG THEP
                br
                |               POSITION : NODEJS BACKEND SERVICES
                br
                |               SALARY : 18000 - 22000
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
